<html>
	<head>
		<title>AdoLorem's Blog</title>
	</head>
	<body>
		<h1>Lorem Ipsum and something else...</h1>
		<h2>The Blog</h2>
		<h3><em>Posts List:</em></h3>
		<ul>
				{% for post in posts %}
					<li><a href="#">{{ post }}</a></li>
				{% endfor %}
		</ul>
		
		<div id="posts">
			{% for boddy_post in posts %}
				<div>
					<h3><em>{{ boddy_post.title }}</em></h3>
					<p>published: {{ boddy_post.published_date }}</p>

					<p>{{ boddy_post.text }}</p>
				</div>
			{% endfor %}			
		</div>
	</body>
</html>